.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  body{
    background-image: url("https://media.istockphoto.com/photos/abstract-blurred-public-library-interior-space-blurry-room-with-by-picture-id1019217092?k=6&m=1019217092&s=170667a&w=0&h=2b78R-Rly-cYkK8Je_9bsmzJSwc6wVteP-cArhwwXTs=");
    background-size: cover;
    background-position: center center;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
  }
  
  .categories-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .categories-list li {
    margin-right: 20px;
  }
  
  .categories-list li:last-child {
    margin-right: 0;
  }
  
  .categories-list a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #eee;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .categories-list a:hover {
    background-color: #ccc;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  a:hover {
    color: #666;
  }
  